
h1,h2{
    color:rgb(133, 4, 133);
}

h1{
    font-size:50px; 
}
h2{
    font-size:35px;
}

p a {
    font-size:20px;
}

.green{
    color:green
}

a[href="img/Logo.jpg"]{
    color:green;
    font-size:30px;
}

body {
    font-size:20px;
}

div {
    font-size:20px; 
}

div p {
    font-size:1em;
}

div {
    background:#000000;
    color:#00ff22;
    width:1000px;
    margin:20px 50px;
    padding:30px;
    height:140px;
    border:10px solid rgb(192, 2, 167);
    display:block;  
}

body {
    background:url(../img/Magimeoka\ on\ Twitter.jpg);
    background-repeat:no-repeat;
    background-attachment: fixed;
    color: #050505;
    background-position:center;
}

div {
    background:url(../img/img.png);
    height:300px;
    color:#15ff00;
}





